.block {
    width: 400px;
    height: 400px;
    background-color: #666;
    border: 2px solid;
    // position: relative;

    &__item {
        width: 20px;
        height: 20px;
        background-color: #1e40c7;
        border: 2px solid brown;
        position: absolute;
        top: 0px;

        &1 {
            top: 10px;
            left: 10px;
        }

        &2 {
            top: 20px;
            left: 20px;
        }

        &3 {
            top: 30px;
            left: 30px;
        }

        &4 {
            top: 40px;
            left: 40px;
        }
    }
}

body {
    height: 200vh;
    // margin: 0;
    // position: relative;
}