* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.block {
  border: 2px solid #000;
  background-color: rgba(86, 176, 218, 0.5);
  display: flex;
}
.block__item {
  background-color: red;
  border: 2px solid blue;
  width: 100px;
  height: 100px;
  font-style: 50px;
}