*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Inter;
    font-weight: 400;  
    letter-spacing: 0%;
    color: #000; 
}

.header {
    height: 70px;
    background-color: #1ABC9C;
    padding: 0px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
.menu{
    &__item{
        font-size: 25px;
        line-height: 30.26px;
        letter-spacing: 0%;
        text-align: center;
    }
}

.content {

    &__info {
        display: flex;
    }
}
.info {

    &__img {
        flex: 1;
        & img{
            width: 100%;
            height: 100%;
        }
    }

    &__item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-size: 35px;
        line-height: 42.36px;
    }

    &__text {
        margin-top: 23px;
        font-size: 20px;
        line-height: 24.2px;
        text-align: justify;
        width: 624px;
    }
}



.conteiner {
    padding: 124px 65px;
    background-color: #DCFFEB;
}
.progects {

		&__title {
            font-size: 35px;
            line-height: 42.36px;
		}

		&__items {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 37px;
		}

		&__item {
            flex: 1;
            background-image: url(./../imgs/img/Rectangle3.png);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 436px;
            height: 376px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 36px;
            padding-bottom: 10px;
		}

		&__text {
            font-family: Open Sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 21.79px;
            letter-spacing: 0%;
            color: #fff;
		}
}
.item {
	&__title {
        font-family: Oswald;
        font-weight: 500;
        font-size: 24px;
        line-height: 35.57px;
        color: #fff;
	}
}

.footer {
    background-color: #fff;
    &__container {
        padding: 84px 69px 76px;
    }

    &__title {
        font-size: 35px;
        line-height: 42.36px;
    }

    &__content {
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 37px;
    }

    &__block {
        width: 315px;
        display: flex;
        flex-direction: column;
    }
}
.block {

    &__img {
        text-align: center;
    }

    &__title {
        color: #999999;
        font-family: Oswald;
        font-weight: 500;
        font-size: 24px;
        line-height: 35.57px;
        text-align: center;
    }

    &__text {
        font-family: Oswald;
        font-weight: 500;
        font-size: 24px;
        line-height: 35.57px;
        text-align: center;
    }
}
.blcok {

    &__link {
        color: #F7654A;
    }
}
